/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235)
}

article:first-child{
	background-color:black;
	color:white;
}



article:last-child{
	color:red;
}

ul{
	background-color:gray;
	width:50%;
	padding:10px;
}

ul:nth-child(odd){
	background-color:white;
}

ul>first-child,
ul>last-child{
	font-size:22px;
}

ul:nth-child(3),
ul:last-child{
	background-color:pink;
}